* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: linear-gradient(120deg, #224e36, #D93D76);
}

h1 {
  margin-top: 24px;
}

.container {
  display: flex;
  gap: 10px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.353);
  padding: 18px;
}

.sidebar {
  width: 300px;
  background: #f7f7f7;
  border-right: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.sidebar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar h3 {
  margin: 10px 0;
}

nav {
  background: none;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: white;
  padding: 12px 24px;
  border-radius: 12px;
  border: 1px solid black;
}

nav ul li {
  width: 100%;
  background-color: lightgray;
  padding: 4px 8px;
  border-radius: 10px;
}

nav ul li:hover {
  background-color: darkgray;
  transition: 0.3s ease;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

hr {
  width: 100%;
  border: 1px solid black;
}

h4 {
  margin-top: 10px;
}

#deslogar {
  background-color: red;
  padding: 8px 20px;
  border: 1px solid darkred;
  border-radius: 10px;
  color: white;
}

.section-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: darkgray;
  padding: 24px;
  border-radius: 10px;
}

.form form {
  background: lightgray;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 12px;
}

.form form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.form form .form-group label {
  font-size: 18px;
  font-weight: 600;
}

.form form .form-group input,
textarea,
select {
  padding: 2px 0px;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  border: 1px solid black;
}